* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: black;
    position: fixed;
    border-bottom: solid 1px white;
}

.index {
    display: flex;
    gap: 20px;
}

.button-container {
    display: flex;
    background-color: black;
    width: 250px;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}

.button {
    outline: 0 !important;
    border: 0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.button:hover {
    transform: translateY(-3px);
}

.icon {
    font-size: 20px;
}

main {
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: black;
    width: 100%;
    height: 100vh;
}

.global-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-title {
    font-weight: 300;
}

form {
    /* padding-top: 10px; */
    font-size: 14px;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 3px;
}

.formbtn {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.formbtn i {
    font-size: 25px;
}

form .btn {
    background-color: black;
    color: white;
    border-radius: 5px;
}

form .btn:hover {
    transition: 0.5s;
    box-shadow: rgb(67, 129, 195) 0px 10px 30px -10px;
    border: solid 1px white;
}

.login-form {
    width: 330px;
    margin: 20px;
}

.sign-up {
    text-align: center;
    padding: 12px;
}

#postsContainer {
    color: white;
    width: 700px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    padding-top: 90px;
}

.child-status {
    background-color: black;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.child-status img {
    width: 700px;
    max-width: 100%;
    height: auto;
}

.child-status .icon i {
    padding: 15px 15px 0 20px;
}

.hidden {
    display: none;
}

#avatar-profile {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    display: flex;
    margin: 0 auto;
}

.profile {
    margin-top: 140px;
    width: 500px;
    height: 420px;
    text-align: center;
    color: white;
    border: solid 1px white;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.356) 0px 5px 200px;
}

.time{
    text-align: right;
}

.avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}