* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: black;
    position: fixed;
    border-bottom: solid 1px white;
}

.index {
    display: flex;
    gap: 20px;
}

.button-container {
    display: flex;
    background-color: black;
    width: 250px;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}

.button {
    /* outline: 0 !important;
    border: 0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center; */
    font-size: 18px;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.button:hover {
    transform: translateY(-3px);
}

main {
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: rgb(25, 25, 25);
    width: 100%;
    height: 100vh;
}

.global-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-weight: 300;
}

form {
    font-size: 14px;
}

.form-group {
    margin-bottom: 3px;
}

.formbtn {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.formbtn i {
    font-size: 25px;
}

form .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 90px;
    margin-top: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

form .btn:hover {
    transition: 0.5s;
    box-shadow: rgb(67, 129, 195) 0px 10px 30px -10px;
    border: solid 1px white;
}

.login-form {
    width: 400px;
    margin: 20px;
}

.sign-up {
    text-align: center;
    padding: 12px;
}

#postsContainer {
    color: white;
    width: 700px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    padding-top: 90px;
}

.child-status {
    background-color: black;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.child-status img {
    width: 700px;
    max-width: 100%;
    height: auto;
}

.hidden {
    display: none;
}

#avatar-profile {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: solid white;
    display: flex;
    margin: 0 auto;
}

.profile {
    margin: auto 0;
    width: 500px;
    height: 440px;
    text-align: center;
    background-color: black;
    color: white;
    border: solid 1px white;
    border-radius: 10px;
    /* box-shadow: rgba(255, 255, 255, 0.356) 0px 5px 200px; */
}

.time {
    text-align: right;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.icon {
    padding: 1px;
}

/* .child-status .icon i {
    padding: 15px 15px 0 20px;
} */

/* From Uiverse.io by andrew-demchenk0 */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.container {
    display: flex;
    align-items: center;
    font-size: 25px;
    gap: 20px;
    margin-top: 7px;
}

.container svg {
    height: 31px;
    width: 31px;
    transition: all 0.3s;
    fill: white;
}

.container svg:hover {
    transform: scale(1.1);
}

.container input:checked ~ svg {
    fill: #e3474f;
}

p {
    margin-top: unset !important;
    margin-bottom: unset !important;
}
